.file{
    font-size: 20px;
	font-weight: bold;
}
.comentario{
    color: rgb(155, 145, 28);
    font-style: italic;
}
.libreria{
    color: blue;
    font-weight: bold;
}
.reservada{
    color: blueviolet;
    font-weight: bold;
}
.literal{
    color: rgb(26, 170, 21);
    font-weight: bold;
}
.operador{
    color: rgb(147, 176, 207);
    font-weight: bold;
}
.identificador{
    color: rgb(1, 177, 139);
}
.delimitador{
    color: black;
}
.error{
    color: red;
    text-decoration: underline;
    text-decoration-color: red;
}